.sign-up {
    background: linear-gradient(135deg, #7f9ac2, #9cd9f3); /* Gradient background */
    min-height: 100vh; /* Full viewport height */
    display: flex;
    
    justify-content: center;
  }
  
  .container {
    margin-top: 50px;
  }
  
  .card {
    border: 2px solid #160d49;
    border-radius: 20px;
  }
  
  .card-header {
    border-bottom: none;
    border-top-left-radius: 13px; 
    border-top-right-radius: 13px; 
  }
  
  .b {
    border-radius: 10px;
    background-color: #647ea8;
    border-color: #9e8156;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .b:hover {
    background-color: #57A6A1;
    border-color: #efeeee;
  }
  