<div class="container">
  <h1>Welcome to the Home Page</h1>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
     Edit Account Information
  </button>
    
  <button type="button" style="margin-left: 20px;" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
      Delete Account
  </button>
     
  <!-- Delete Account Modal -->
  <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Account</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  Do you confirm that you want to delete your account?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger" (click)="deleteAccount()">Delete</button>
              </div>
          </div>
      </div>
  </div>
  
  <!-- Edit Account Modal -->
  <div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-title fs-5" id="editModalLabel">Edit Account Information</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form [formGroup]="userForm">
                      <ul class="list-group">
                          <li class="list-group-item">
                              <label for="name1">Name</label>
                              <input id="name1" type="text"  formControlName="name"     class="form-control" />
                            </li>
                            <li class="list-group-item">
                              <label for="email1">Email</label>
                              <input id="email1" type="email"  formControlName="email" class="form-control" />
                            </li>
                            <li class="list-group-item">
                              <label for="password1">Password</label>
                              <input id="password1" type="password"  formControlName="password" class="form-control" />
                            </li>
                      </ul>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" (click)="saveChanges()">Save</button>
              </div>
          </div>
      </div>
  </div>
</div>

